@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>DB模板生成器</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        pre {
            display: none;
        }

        .main {
            padding: 20px;
            margin: 0;
        }

            .main .left-panel {
            }

            .main .right-panel {
            }

        #modal-tip .modal-body .highlight {
            color: #d43f3a;
        }

        .template-header {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <div class="main row">
            <div class="col-md-12">
                <div class="left-panel col-md-4">
                    <div class="form-group">
                        <label>DB类型</label>
                        <select class="form-control" id="type">
                            <option>oracle</option>
                            <option>mysql</option>
                            <option>sqlserver</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>连接字符串</label>
                        <textarea id="conn" class="form-control" rows="4">data source=192.168.126.99:1521/pkidb;user id=medicaluser;password=medicaluser;Incr Pool Size=5;Decr Pool Size=2;</textarea>
                    </div>
                    <div class="form-group">
                        <label>表名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="table" placeholder="请输入表名称">
                            <span class="input-group-addon btn btn-info" id="generate">生成</span>
                            <span class="input-group-addon btn btn-success" id="generate2">生成cs文件</span>
                        </div>
                    </div>
                </div>
                <div class="right-panel col-md-8">
                    <div class="form-group">
                        <div class="template-header">
                            <label>模板内容</label>
                            <div class="pull-right btn-group">
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-tip"><i class="glyphicon glyphicon-info-sign"></i> 使用规则</button>
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="glyphicon glyphicon-duplicate"></i> 选择模板 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;" id="sqlinsert">insert语句</a></li>
                                    <li><a href="javascript:;" id="sqlmapper">SqlMapper映射</a></li>
                                    <li><a href="javascript:;" id="entitymapper">C#实体对象</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:;">三层</a></li>
                                    <li><a href="javascript:;">html</a></li>
                                </ul>
                            </div>
                        </div>
                        <textarea id="template" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <textarea id="res" class="form-control" rows="10"></textarea>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="modal-tip">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">模板规则</h4>
                        </div>
                        <div class="modal-body">
                            <p>1.数据库表名称使用<span class="highlight">[table]</span>占位</p>
                            <p>2.类名称使用<span class="highlight">[class]</span>占位</p>
                            <p>3.循环嵌套使用<span class="highlight"><% %></span>标记起止结束</p>
                            <p>4.数据库列名称使用<span class="highlight">[column]</span>占位</p>
                            <p>5.列对应属性名称使用<span class="highlight">[property]</span>占位</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre id="demo-sql-insert">
    insert into [table] (<%[column],%>)values(<%:[property],%>)
    </pre>
    <pre id="demo-sql-mapper">
&lt;?xml version="1.0" encoding="utf-8" ?&gt;
    &lt;sqlMap namespace="[class]Map" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;alias&gt;
        &lt;typeAlias alias="[class]" type="BJCA.TERMS.Domain.Entity.[class]" /&gt;
    &lt;/alias&gt;
    &lt;resultMaps&gt;
        &lt;resultMap id="[class]Result" class="[class]"&gt;
        &lt;%&lt;result property="[property]" column="[column]"/&gt;%&gt;
        &lt;/resultMap&gt;
    &lt;/resultMaps&gt;
    &lt;statements&gt;
        &lt;select id="Select[class]" parameterClass="string" resultMap="[class]Result"&gt;
            select &lt;%[column],%&gt;
            from [table]
            where 1=1
            &lt;dynamic&gt;
                &lt;isNotEmpty prepend="AND"&gt;
                    N_[table]_ID = #value#
                &lt;/isNotEmpty&gt;
            &lt;/dynamic&gt;
        &lt;/select&gt;
        &lt;insert id="Insert[class]" parameterClass="[class]"&gt;
            &lt;selectKey resultClass="long" type="pre" property="N[property]Id"&gt;
                select SEQ_[table]_ID.nextval as VALUE from dual
            &lt;/selectKey&gt;
            insert into [table]
            (&lt;%[column],%&gt;)values(&lt;%#[property]#,%&gt;)
        &lt;/insert&gt;
        &lt;update id="Update[class]" parameterClass="[class]"&gt;
            update [table]
            set &lt;%[column]=#[property]#,%&gt;
            where N_[table]_ID = #N[class]Id#
        &lt;/update&gt;
        &lt;delete id="Delete[class]" parameterClass="string"&gt;
            delete from [table] where N_[table]_ID = #value#
        &lt;/delete&gt;
    &lt;/statements&gt;
&lt;/sqlMap&gt;
    </pre>
    <pre id="demo-entity-mapper">
using AutoMapper;
using BJCA.PERMS.Infrastructure.AutoMapper;
using Dapper.Contrib.Extensions;
using System;

namespace BJCA.PERMS.Repository.Models
{
    /// &lt;summary&gt;
    /// [table-comment]
    /// &lt;/summary&gt;
    [Table("[table]")]
    public class [table] : IHaveCustomMapping
    {
<%
        /// &lt;summary&gt;
        /// [column-comment]
        /// &lt;/summary&gt;
        public [column-type] [column] { get; set; }%>

        public void CreateMappings(Profile configuration)
        {
            //configuration.CreateMap<po, @@do>()
            //    .ForMember(@@do => @@do.Id, opt => opt.MapFrom(po => po.Id))
            //    .ReverseMap()
            //    .ForAllOtherMembers(opts => opts.Ignore());
        }
    }
}
    </pre>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
<script>
    $("#generate").click(function () {
        $.ajax({
            url: "/Home/Generate",
            type: "post",
            data: {
                table: $("#table").val(),
                template: $("#template").val(),
                conn: $("#conn").val(),
                type: "oracle"
            },
            success: function (res) {
                $("#res").val(res)
            }
        })
    });
    $("#generate2").click(function () {
        $.ajax({
            url: "/Home/GenerateCodeFile",
            type: "post",
            data: {
                table: $("#table").val(),
                template: $("#template").val(),
                conn: $("#conn").val(),
                type: "oracle"
            },
            success: function (res) {
                $("#res").val(res)
            }
        })
    });
    $("#sqlinsert").click(function () {
        $("#template").val($("#demo-sql-insert").text())
    });
    $("#sqlmapper").click(function () {
        $("#template").val($("#demo-sql-mapper").text())
    });
    $("#entitymapper").click(function () {
        $("#template").val($("#demo-entity-mapper").text())
    });
</script>