html, body {
    margin: 0;
    padding: 0;
}

pre {
    display: none;
}

.main {
    width: 850px;
    margin: auto;
}

[v-cloak] {
    display: none;
}

#modal-tip .modal-body .highlight {
    color: #d43f3a;
}

.template-header {
    margin-bottom: 10px;
}
